@import url(fonts.css);

.info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  width: 30vw;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.photo-description {
  width: 30vw;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 1em;
  color: #0c0c0c;
}

.self-intro {
  width: 40vw;
  font-size: 1.1em;
}

.navi {
  margin-top: 3%;
  font-size: 1.4em;
  text-align: center;
}
