@import url(fonts.css);

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Worstveld Sling';
  font-size: 4.5em;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 3%;
  opacity: 0.5;
  clip-path: inset(0 100% 0 0);
  transition: all 0.5s ease-in-out;
  color: #0c0c0c;
}

.title.visible {
  opacity: 1;
  clip-path: inset(0 -10% 0 0);
}

.content {
  font-family: 'Accia Piano';
  width: 80%;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-in-out;
  padding-bottom: 10vh;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-image: url('../assets/img/paper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(90%);
}

.nav-link {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-link:hover {
  text-shadow: 0 0 5px #ffdf8f;
}

.nav-link:visited {
  color: #8b5cf6;
}
