@import url(fonts.css);

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-image: url('../assets/img/paper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(90%);
}

.nav-link {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-link:hover {
  text-shadow: 0 0 5px #ffdf8f;
}

.nav-link:visited {
  color: #8b5cf6;
}
