@font-face {
    font-family: 'FZFWZZTJW';
    src: url('../fonts/FZFWZZTJW.TTF') format('truetype');
}

body {
    margin: 0;
    font-family: 'FZFWZZTJW', sans-serif;
    background-color: #ffffff; /* White background */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up the full height of the viewport */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20%;
    background-color: #333; /* Dark header background */
    color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the icon to the left */
}

.team-icon {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.header-right {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    align-items: center;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}

.header-right a:hover {
    text-decoration: underline;
}

main {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.team-large-icon {
    width: 250px;
    height: 250px;
}

.team-name {
    font-size: 40px; /* Large font for team name */
    font-style: bold;
    margin-bottom: 20px; /* Add space between the name and description */
}

.description {
    font-size: 18px;
    color: #555;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Round the image */
    border: 4px solid #333;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%; /* Add 20% padding on left and right */
    background-color: #333; /* Dark footer background */
    color: #fff;
    margin-top: 50px; /* Add space above the footer */
}

.footer-left {
    flex: 1; /* Take up remaining space */
}

.footer-left p {
    font-size: 16px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer-links, .contact {
    display: flex;
    gap: 15px; /* Space between links */
    margin-bottom: 15px; /* Space between links and contact button */
}

.footer-links a, .contact a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.footer-links a:hover, .contact a:hover {
    text-decoration: underline;
}